@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.vb {
  margin: 0 auto;
}
.vb__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-basis: 0;
}
@media (min-width: 800px) and (max-width: 1019px) {
  .vb__container {
    flex-direction: row;
  }
}
@media (min-width: 1020px) {
  .vb__container {
    flex-direction: row;
  }
}

.goal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow 0.5s ease-in-out;
}
.goal__container.active {
  flex-direction: column;
  position: relative;
  flex-grow: 5;
  background-size: cover;
}
@media (max-width: 799px) {
  .goal__container.active {
    padding: 40px;
  }
}
.goal__container--inner {
  width: 100%;
}
.goal__title {
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 799px) {
  .goal__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1020px) {
  .goal__title--panel {
    transform: rotate(90deg);
  }
}
@media (min-width: 800px) and (max-width: 1019px) {
  .goal__title--panel {
    transform: rotate(90deg);
  }
}
@media (max-width: 799px) {
  .goal__title--panel {
    transform: rotate(0deg);
  }
}
.goal__title--preview {
  align-self: flex-start;
}
.goal__title--professional {
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
}
.goal--personal {
  background-color: lightblue;
  background: url("../../assets/swim.jpg") center center no-repeat;
}
@media (min-width: 800px) and (max-width: 1019px) {
  .goal--personal {
    background: url("../../assets/PersonalCover.jpg") top center no-repeat;
  }
}
@media (min-width: 1020px) {
  .goal--personal {
    background: url("../../assets/PersonalCover.jpg") top center no-repeat;
  }
}
.goal--material {
  background-color: lightgreen;
}
@media (max-width: 799px) {
  .goal--material {
    background: url("../../assets/money.jpeg") top center no-repeat;
  }
  .goal--material.active {
    background-size: cover;
  }
  .goal--material > .goal__title {
    text-shadow: 4px 4px 4ßpx #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
@media (min-width: 800px) and (max-width: 1019px) {
  .goal--material {
    background: url("../../assets/materialCover.jpg") top center no-repeat;
  }
}
@media (min-width: 1020px) {
  .goal--material {
    background: url("../../assets/materialCover.jpg") top center no-repeat;
  }
}
.goal--professional {
  background-color: grey;
  background: url("../../assets/ProfessionalCover.jpg") top center no-repeat;
}
.goal--environmental {
  background-color: turquoise;
}
@media (max-width: 799px) {
  .goal--environmental {
    background: url("../../assets/GlobalCover--small.jpg") center center no-repeat;
  }
}
@media (min-width: 800px) and (max-width: 1019px) {
  .goal--environmental {
    background: url("../../assets/GlobalCover.jpg") top center no-repeat;
  }
}
@media (min-width: 1020px) {
  .goal--environmental {
    background: url("../../assets/GlobalCover.jpg") top center no-repeat;
  }
}
@media (max-width: 799px) {
  .goal--accomplishments {
    background: url("../../assets/AccomplishmentsCover--small.jpg") top center no-repeat;
  }
}
@media (min-width: 800px) and (max-width: 1019px) {
  .goal--accomplishments {
    background: url("../../assets/AccomplishmentsCover.jpg") top center no-repeat;
  }
}
@media (min-width: 1020px) {
  .goal--accomplishments {
    background: url("../../assets/AccomplishmentsCover.jpg") top center no-repeat;
  }
}

.goalsPreview {
  background-color: #0ad9fe;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}
.goalsPreview__container {
  padding: 50px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.goalsPreview__content {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
}
.goalsPreview__btn {
  background-color: rgba(10, 217, 254, 0.8);
  padding: 20px;
  font-size: 1.25em;
  right: 50px;
  margin-top: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 40%;
  box-shadow: 1px 1px 3px black;
}

.progressBar {
  background-color: rgba(10, 217, 254, 0.3);
  width: 80%;
  height: 30px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -ms-border-radius: 25px 25px 25px 25px;
  -o-border-radius: 25px 25px 25px 25px;
  position: relative;
}

.progress {
  background-color: #0ad9fe;
  border-left: 1px solid black;
  border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -ms-border-radius: 25px 25px 25px 25px;
  -o-border-radius: 25px 25px 25px 25px;
  height: 28px;
  position: absolute;
}
.progress__text {
  line-height: 28px;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
