.goal {
	&__container {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	&__title {
		transform: rotate(90deg);
		display: inline-block;
	}

	&--personal {
		background-color: lightblue;
		@include MVP {
			background: url('../../assets/PersonalCover.jpg') top center no-repeat;
		}
		& > h1 {
			color: white;
			text-shadow: black 1px 1px 1px;
		}
	}

	&--material {
		background-color: lightgreen;
		@include MVP {
			background: url('../../assets/materialCover.jpg') top center no-repeat;
		}
		& > h1 {
			color: white;
			text-shadow: black 1px 1px 1px;
		}
	}

	&--professional {
		background-color: grey;
		@include MVP {
			background: url('../../assets/ProfessionalCover.jpg') top center no-repeat;
		}
		& > h1 {
			display: inline-block;
			padding: 20px;
			// border: 2px solid white;
			background-color: black;
			color: white;
			text-shadow: black 1px 1px 1px;
		}
	}

	&--environmental {
		background-color: turquoise;
		@include MVP {
			background: url('../../assets/GlobalCover.jpg') top center no-repeat;
		}
		& > h1 {
			color: white;
			text-shadow: black 1px 1px 1px;
		}
	}
}